.babyzepps {
  background-color: #0d2340;
  color: white;
  width: 100%;
  height: 100%;
}
.babyzepps h1,
h2 {
  text-align: center;
}

.babyzepps img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.babyzepps p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}
.baddog {
  background-color: #0d2340;
  color: red;
  width: 100%;
  height: 100%;
}
.baddog h1,
h2 {
  text-align: center;
}

.baddog img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.baddog p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}

.beauties {
  background-color: #003831;
  color: #ffc547;
  width: 100%;
  height: 100%;
}
.beauties h1,
h2 {
  text-align: center;
}

.beauties img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.beauties p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}
.beavis {
  background-color: #28df99;
  color: #4295d1;
  width: 100%;
  height: 100%;
}
.beavis h1,
h2 {
  text-align: center;
}

.beavis img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.beavis p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}

.cbar {
  background-color: #0d3282;
  color: #d81c2a;
  width: 100%;
  height: 100%;
}
.cbar h1,
h2 {
  text-align: center;
}

.cbar img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.cbar p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}

.hecklers {
  background-color: #001835;
  color: #ec6e20;
  width: 100%;
  height: 100%;
}
.hecklers h1,
h2 {
  text-align: center;
}

.hecklers img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.hecklers p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}
.jokebox {
  background-color: #01baf5;
  color: #0d3282;
  width: 100%;
  height: 100%;
}
.jokebox h1,
h2 {
  text-align: center;
}

.jokebox img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.jokebox p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}
.orphans {
  background-color: #bcbcbc;
  color: #662d91;
  width: 100%;
  height: 100%;
}
.orphans h1,
h2 {
  text-align: center;
}

.orphans img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.orphans p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}
.pthings {
  background-color: black;
  color: #f8c427;
  width: 100%;
  height: 100%;
}
.pthings h1,
h2 {
  text-align: center;
}

.pthings img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.pthings p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}
.sloclaps {
  background-color: #653101;
  color: #e77a2f;
  width: 100%;
  height: 100%;
}
.sloclaps h1,
h2 {
  text-align: center;
}

.sloclaps img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.sloclaps p {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 25%;
}

.description {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
